<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
</head>
<body>
  <div class="login-wrapper">
    <div class="login-box">
      <h2 class="text-center">Login</h2>
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="email" placeholder="Enter your username" name="username" [(ngModel)]="user.username" >
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password" [(ngModel)]="user.password">
        </div>
        <button type="submit" (click)="login()" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>

</body>
</html>
