<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Faculty Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#facultyNavbar" aria-controls="facultyNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="facultyNavbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/add-student">Add Student</a></li>
          <li class="nav-item"><a class="nav-link" href="/all-students">All Students</a></li>
          <li class="nav-item"><a class="nav-link" href="/take-attendance">Take Attendance</a></li>
          <li class="nav-item"><a class="nav-link" href="/view-attendance">View Attendance</a></li>
        </ul>
        <!-- Logout Button -->
        <button class="btn btn-danger logout-btn" type="button"(click)="logout()">Logout</button>
      </div>
    </div>
  </nav>

</body>
</html>
